<form [formGroup]="infoForm" >
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "First Name" formControlName = "firstName">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Last Name" formControlName = "lastName">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Age" formControlName = "age">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <mat-label>Gender</mat-label>
    <mat-select formControlName = "gender">
        <mat-option value = "Male">
          Male
        </mat-option>
        <mat-option value = "Female">
          Female
        </mat-option>
      </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Height" formControlName = "height">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Weight" formControlName = "weight">
  </mat-form-field>
</form>
<button mat-raised-button mat-button color = "primary" (click) = "onSubmit()">Submit</button>

<br>
  <form [formGroup] = "policyForm">
    <mat-form-field appearance = "outline">
      <input matInput placeholder = "Number" name="number" formControlName = "number">
    </mat-form-field>
    <br>
    <mat-form-field appearance = "outline">
        <input matInput placeholder = "Amount" name="amount" formControlName = "amount">
      </mat-form-field>
    <br>
    <input type="button" (click)="createOrUpdatePolicy(policyForm)" value="Create or Update Policy">
  </form>

  <br>
  <form [formGroup] = "userForm">
    <mat-form-field appearance = "outline">
      <input matInput placeholder = "Username" name="username" formControlName = "username">
    </mat-form-field>
    <br>
    <mat-form-field appearance = "outline">
        <input matInput placeholder = "Birthday" name="birthday" formControlName = "birthday">
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <input matInput placeholder = "Height" name="height" formControlName = "height">
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <input matInput placeholder = "Gender" name="gender" formControlName = "gender">
      </mat-form-field>
    <br>
    <input type="button" (click)="createUser(userForm)" value="Create or Update Policy">
  </form>

  <!-- <div *ngFor = "let policy of policies">
    <h1>{{ policy.id }}</h1>
    <h1>{{ policy.number }}</h1>
    <h1>{{ policy.amount }}</h1>

  </div> -->
