<div style='text-align: center'>
<mat-card>
<form [formGroup]="infoForm" >
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "First Name" formControlName = "firstName">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Last Name" formControlName = "lastName">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Age" formControlName = "age">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <mat-label>Gender</mat-label>
    <mat-select formControlName = "gender">
        <mat-option value = "Male">
          Male
        </mat-option>
        <mat-option value = "Female">
          Female
        </mat-option>
      </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Height" formControlName = "height">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Weight" formControlName = "weight">
  </mat-form-field>
</form>
<button mat-raised-button mat-button color = "primary" (click) = "onSubmit()">Submit</button>
</mat-card>
</div>
