<form [formGroup]="infoForm" >
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "First Name" formControlName = "firstName">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Last Name" formControlName = "lastName">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Age" formControlName = "age">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <mat-label>Gender</mat-label>
    <mat-select formControlName = "gender">
        <mat-option value = "Male">
          Male
        </mat-option>
        <mat-option value = "Female">
          Female
        </mat-option>
      </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Height" formControlName = "height">
  </mat-form-field>
  <br/>
  <mat-form-field appearance = "outline">
    <input matInput placeholder = "Weight" formControlName = "weight">
  </mat-form-field>
</form>
<button mat-raised-button mat-button color = "primary" (click) = "onSubmit()">Submit</button>

  <br>
  <form [formGroup] = "userForm">
    <mat-form-field appearance = "outline">
      <input matInput placeholder = "Username" name="username" formControlName = "username">
    </mat-form-field>
    <br>
    <mat-form-field appearance = "outline">
        <input matInput placeholder = "Birthday" name="birthday" formControlName = "birthday">
        <mat-hint>YYYY-MM-DD</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <input matInput placeholder = "Gender" name="gender" formControlName = "gender">
      </mat-form-field>
    <br>
    <input type="button" (click)="createorUpdateUser(userForm)" value="Create or Update Policy">
  </form>

  <br>
  <form [formGroup] = "foodForm">
    <mat-form-field appearance = "outline">
      <input matInput placeholder = "Food Name" name="foodName" formControlName = "foodName">
    </mat-form-field>
    <br>
    <mat-form-field appearance = "outline">
        <input matInput placeholder = "Amount of Calories" name="foodCalories" formControlName = "foodCalories">

      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <input matInput placeholder = "Date Eaten" name="timestamp" formControlName = "timestamp">
        <mat-hint>YYYY-MM-DD</mat-hint>
      </mat-form-field>
    <br>
    <button mat-raised-button mat-button color = "primary" (click) = "createFood(foodForm)">Submit</button>
  </form>

  <br>
  <form [formGroup] = "weightForm">
    <mat-form-field appearance = "outline">
      <input matInput placeholder = "Weight" name="weight" formControlName = "weight">
      <mat-hint>In Pounds</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance = "outline">
        <input matInput placeholder = "Height" name="height" formControlName = "height">
        <mat-hint>In Inches</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance = "outline">
        <input matInput placeholder = "Date" name="timestamp" formControlName = "timestamp">
        <mat-hint>YYYY-MM-DD</mat-hint>
      </mat-form-field>
    <br>
    <button mat-raised-button mat-button color = "primary" (click) = "createWeight(weightForm)">Submit</button>
  </form>

  <br>
  <table mat-table [dataSource]="foodTable" class="mat-elevation-z8">
      <ng-container matColumnDef="foodName">
          <th class = 'font padding-left' style= "background-color: #f5f5f5" mat-header-cell *matHeaderCellDef><p class = 'header-padding'> Food Name </p></th>
          <td mat-cell *matCellDef="let element" class='cell-style'> {{element.food_name}} </td>
        </ng-container>

        <ng-container matColumnDef="foodCalories">
            <th class = 'font padding-left' style= "background-color: #f5f5f5" mat-header-cell *matHeaderCellDef><p class = 'header-padding'>Calories</p></th>
            <td mat-cell *matCellDef="let element" class='cell-style'> {{element.food_calories}} </td>
          </ng-container>

            <ng-container matColumnDef="timestamp">
                <th class = 'font padding-left' style= "background-color: #f5f5f5" mat-header-cell *matHeaderCellDef><p class = 'header-padding'>Time Stamp</p></th>
                <td mat-cell *matCellDef="let element" class='cell-style'> {{element.timestamp}} </td>
              </ng-container>

        <ng-container matColumnDef="actions">
            <th class = 'font padding-left' style= "background-color: #d8d8d8" mat-header-cell *matHeaderCellDef><p class = 'header-padding'>Actions</p></th>
            <td mat-cell *matCellDef="let element" class='cell-style'>
                <button mat-icon-button matTooltip="Edit" (click)="createorUpdateUser(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Delete" (click)="deleteFood(element.food_id)">
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
            </td>
          </ng-container>

        <tr style= "background-color: #d8d8d8"mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <div *ngFor = "let policy of policies">
    <h1>{{ policy.id }}</h1>
    <h1>{{ policy.number }}</h1>
    <h1>{{ policy.amount }}</h1>

  </div> -->
