mat-header-cell {
  margin: 0px 0px 0px 20px !important;
}

table {
  width: 100%;
}

table.mat-table {
  margin: 0px 30px 0px 30px;

}

.adjust {
  margin: 10px 0px 0px 30px;
}

mat-form-field {
  width: 300px;
  height: 100px;
  font-size: 17px;
}


