
// .app-top {
//   margin: 0 0 3em;
// }

// .app-calendar {
//   margin: 0 auto;
//   max-width: 900px;
// }

// NOTE: the fullcalendar stylesheets are included in the app's global styles.scss

.info-btn {
  margin-left: 10px;
  margin-bottom: 30px;
}

.logout-btn {
  margin-right: 10px;
  margin-bottom: 30px;
}

.legend-margin {
  margin: 0px 0px 0px 0px;
}

.icon-2 {
  color: #03a56a;
}

.icon-1 {
  color: #11faa4;
}

.icon-M {
  color: #FFFF00;
}
