<div fxLayout="column" fxLayoutAlign="space-around start" >
  <div fxLayout="row" fxLayoutAlign="start center" >
    <mat-icon class = "icon-2">fiber_manual_record</mat-icon>
    <h4 class = "legend-margin">Calories to eat to lose 2 LB ≈ {{ viewTwoPounds }}</h4>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" >
    <mat-icon class = "icon-1">fiber_manual_record</mat-icon>
    <h4 class = "legend-margin">Calories to eat to lose 1 LB ≈ {{ viewOnePounds }}</h4>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" >
    <mat-icon class = "icon-M">fiber_manual_record</mat-icon>
    <h4 class = "legend-margin">Calories to eat to maintain weight ≈ {{ viewMaintain }}</h4>
  </div>
</div>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" >
  <button mat-raised-button mat-button class = "info-btn" color = "primary" (click) = "goToInfoPage()">Go To Info Page</button>
  <button mat-raised-button mat-button class = "logout-btn" color = "primary" (click) = "logOut()">Log Out</button>
  </div>

  <full-calendar deepChangeDetection="true" defaultView="dayGridMonth" [plugins]="calendarPlugins"
  [events]="this.events"
  ></full-calendar>
