<div fxLayout="row" fxLayoutAlign="center center" class = "margin-above">
    <div fxLayout="column" fxLayoutAlign="space-around center" >
        <h1>Sign Up </h1>
<form [formGroup] = "userForm">
  <mat-form-field appearance = "outline">
      <mat-label>Username</mat-label>
    <input matInput placeholder = "Username" name="username" formControlName = "username">
  </mat-form-field>
  <br>
  <mat-form-field appearance = "outline">
      <mat-label>Birthday</mat-label>
      <input matInput placeholder = "Birthday" name="birthday" formControlName = "birthday">
      <mat-hint>YYYY-MM-DD</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance = "outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName = "gender">
          <mat-option value = "M">
            Male
          </mat-option>
          <mat-option value = "F">
            Female
          </mat-option>
        </mat-select>
    </mat-form-field>
  </form>

  <form [formGroup] = "weightForm" class = "adjust">
    <mat-form-field appearance = "outline">
      <input matInput placeholder = "Weight" name="weight" formControlName = "weight">
      <mat-hint>In Kilograms</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance = "outline">
        <input matInput placeholder = "Height" name="height" formControlName = "height">
        <mat-hint>In Centimeters</mat-hint>
      </mat-form-field>
  </form>

  <div fxLayout="row" fxLayoutAlign="center center" >
  <button mat-raised-button mat-button class = "submit-btn" color = "primary" (click) = "createorUpdateUser(userForm, weightForm)">Submit</button>
  <button mat-raised-button mat-button class = "signup-btn" color = "primary" (click) = "goToLoginPage()">Back</button>
  </div>

</div>
</div>
